speech_commands_v0.02/
dataset/*
!dataset/.gitkeep
!dataset/positive/
!dataset/negative/
dataset/positive/*
dataset/negative/*
!dataset/positive/.gitkeep
!dataset/negative/.gitkeep

*.wav
__pycache__/
*.pyc
venv/
.venv/
.idea/
.vscode/